# Port d'acces au site (Nginx)
WEB_PORT=8080

# Backend (Express)
PORT=3500
HOST=0.0.0.0

# TMDB
BASE_URL=https://api.themoviedb.org/3
API_TOKEN=

# Dev (inutile, mais au cas ou le hotreload saute...)
VITE_HMR_HOST=localhost
VITE_HMR_CLIENT_PORT=8080
